<form action="/" method="post"><center>
  What City?:
  	<br>
  	<br>
  	<input type="text" name="message" id="message" placeholder="Put the city name here">
  	<br>
  	<br>

  	<input type="submit" value="Get me the time!">
</form>